Markdown
MarkupSafe
mkdocs
mkdocs-glightbox
mkdocs-markdownextradata-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-material-extensions
mkdocs-redirects
pymdown-extensions
mkdocs-autolinks-plugin
mkdocs-git-revision-date-plugin
mkdocs-minify-plugin
mkdocs-pdf-export-plugin